.container{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container{
    width: 70%;
    height: auto;
    padding: 3em 4em;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.colContainer{
    width: 100%;
    display: flex; 
    justify-content: center;
    border-right: 2px solid #eee;
    font-weight: 500;
    align-items: center;
}
p{
    margin:0;
    cursor: pointer;
}

.itemContainer{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.closeIcons{
    position: absolute !important;
    right: 5px;
    top: 5px;
    color: rgb(188, 187, 187);
    cursor: pointer;
}
.closeIcons:hover{
    color: rgb(255, 90, 90);
}
