.containerBackOffice{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #e1e1e1;

}

.sidebar-container{
    width: 15%;
    height: 100%;
    background-color: #0f3460;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    padding:30px;
}
.sidebar-container ul{
    margin-top: 40px;
    width: 100%;
}

.sidebar-container li{
    border-bottom: 1px solid #eee;
    width: 100%;
    margin-bottom: 20px;
}
.sidebar-container a{
    font-size: 18px;
    font-weight: 500;
}
.containerBackOffice__content{
    width: 85%;
    height: 100%;
}

.backOffice_header{
    height: 60px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding-left:20px;
    display: flex;
    align-items: center;
    /* justify-content: center;    */
}

.backOffice_header p{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.backOffice_content{
    margin: 30px;
}