.container {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-container {
  width: 100%;
  height: auto;
  padding: 4em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.image-container {
  height: 300px;
  /* background-color: rgb(236, 236, 236); */
  border: 1px solid #888;
  border-radius: 3px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.price {
  background-color: #f8f8f8;
  padding: 25px;
  border-radius: 3px;
  font-size: 28px;
  color: orangered;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn {
  border: 1px solid black;
  padding: 2px;
  margin-right: 5px;
  cursor: pointer;
  width: 30px;
}
.quantityContainer {
  border: 1px solid black;
  padding: 2px 8px;
  margin-right: 5px;
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: none;
  color: #e94560;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}
